In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings('ignore')
plt.rcParams['figure.figsize']=(12,7)

In [3]:
df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [5]:
df['education'].value_counts().keys()

Index(['HS-grad', 'Some-college', 'Bachelors', 'Masters', 'Assoc-voc', '11th',
       'Assoc-acdm', '10th', '7th-8th', 'Prof-school', '9th', '12th',
       'Doctorate', '5th-6th', '1st-4th', 'Preschool'],
      dtype='object')

In [40]:
def edu_rep(text):
    if text == ('HS-grad' or '11th' or '10th' or '7th-8th' or '9th' or '12th' or '5th-6th' or '1st-4th' or 'Preschool'):
        return 'Pre School'
    elif text == ('Some-college' or 'Bachelors' or 'Prof-school'):
        return 'College Degree'
        
    elif text == ('Masters' or 'Doctorate'):
        return 'Masters'
    elif text == ('Assoc-voc' or 'Assoc-acdm'):
        return 'Associate'
    else:
        return 'Unknown'

In [41]:
df['edu'] = df['education'].apply(lambda x: edu_rep(x))

In [42]:
df[['education', 'edu']].head(50)

       education         edu
0        HS-grad  Pre School
1        HS-grad  Pre School
2   Some-college  Pre School
3        7th-8th  Pre School
4   Some-college  Pre School
5        HS-grad  Pre School
6           10th  Pre School
7      Doctorate  Pre School
8        HS-grad  Pre School
9   Some-college  Pre School
10     Doctorate  Pre School
11   Prof-school  Pre School
12     Bachelors  Pre School
13       Masters  Pre School
14     Doctorate  Pre School
15   Prof-school  Pre School
16          11th  Pre School
17       Masters  Pre School
18    Assoc-acdm  Pre School
19     Bachelors  Pre School
20     Bachelors  Pre School
21          11th  Pre School
22       HS-grad  Pre School
23  Some-college  Pre School
24       HS-grad  Pre School
25     Assoc-voc  Pre School
26       1st-4th  Pre School
27       5th-6th  Pre School
28          10th  Pre School
29          10th  Pre School
30  Some-college  Pre School
31          10th  Pre School
32   Prof-school  Pre School
33     Bachelors  Pre School
34       HS-grad  Pre School
35     Doctorate  Pre School
36       HS-grad  Pre School
37   Prof-school  Pre School
38     Doctorate  Pre School
39       Masters  Pre School
40     Bachelors  Pre School
41       Masters  Pre School
42  Some-college  Pre School
43       Masters  Pre School
44       HS-grad  Pre School
45     Bachelors  Pre School
46       HS-grad  Pre School
47       HS-grad  Pre School
48  Some-college  Pre School
49  Some-college  Pre School

In [46]:
l= ['a', 'b', 'c']
'a' in l

True

In [48]:
if 'a' in l:
    print('yes')

yes

In [54]:
def edu_rep(text):
    school = ['HS-grad', '11th', '10th', '7th-8th', '9th', '12th', '5th-6th', '1st-4th', 'Preschool']
    college = ['Some-college','Bachelors','Prof-school']
    master = ['Masters', 'Doctorate']
    associ = ['Assoc-voc', 'Assoc-acdm']
    # checking the value that is inside of edu list
    if text in school:
        return 'School Level'
    elif text in college:
        return 'College Level'
    elif text in master:
        return 'Masters'
    elif text in associ:
        return 'Associate'

In [56]:
df['edu'] = df['education'].apply(lambda x: edu_rep(x))
df[['education', 'edu']].head(50)

       education            edu
0        HS-grad   School Level
1        HS-grad   School Level
2   Some-college  College Level
3        7th-8th   School Level
4   Some-college  College Level
5        HS-grad   School Level
6           10th   School Level
7      Doctorate        Masters
8        HS-grad   School Level
9   Some-college  College Level
10     Doctorate        Masters
11   Prof-school  College Level
12     Bachelors  College Level
13       Masters        Masters
14     Doctorate        Masters
15   Prof-school  College Level
16          11th   School Level
17       Masters        Masters
18    Assoc-acdm      Associate
19     Bachelors  College Level
20     Bachelors  College Level
21          11th   School Level
22       HS-grad   School Level
23  Some-college  College Level
24       HS-grad   School Level
25     Assoc-voc      Associate
26       1st-4th   School Level
27       5th-6th   School Level
28          10th   School Level
29          10th   School Level
30  Some-college  College Level
31          10th   School Level
32   Prof-school  College Level
33     Bachelors  College Level
34       HS-grad   School Level
35     Doctorate        Masters
36       HS-grad   School Level
37   Prof-school  College Level
38     Doctorate        Masters
39       Masters        Masters
40     Bachelors  College Level
41       Masters        Masters
42  Some-college  College Level
43       Masters        Masters
44       HS-grad   School Level
45     Bachelors  College Level
46       HS-grad   School Level
47       HS-grad   School Level
48  Some-college  College Level
49  Some-college  College Level